html{
    scroll-behavior: smooth;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
  
body{
    background-color: #737373;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}


.overview{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: white;
    height: 400px;                /* Parallax effect */
    background-image: url('../images/main.jpeg');

}


.overview p{
    color: white;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
}

h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 32px;
    line-height: 1.5;
}

nav li{
    display:inline;
    padding-right:20px;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}


nav{
    background-color: #ddd;
    padding: 25px 0; 
    text-align: left;
}

footer{
    background-color: black;
    color: white;
    padding-top: 30px;
    text-align: center;
}


.text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
}

nav a:hover{
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

#navLeft {
    margin-left: 20px;
}

.skip a{
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 20px;
}

*:focus {
    border: 2px solid black;
} 

p {
    line-height: 1.5;
    padding: 0 30px 30px 30px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.container div:first-child {
    grid-column: 1/-1;
    min-height: 500px;
    /* background-image: url('../images/main.jpeg'); */
}

#lamb-img {
    grid-row: 2;

}

#mcl-img {
    grid-row: 3;
    margin-top: 60px;
}

#por-img {
    grid-row: 4;
}

.flip-card {
    background-color: transparent;
    width: 600px;
    height: 1px;
    perspective: 1000px; 
    background-image: none !important;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    border-radius: 30px;
}

.carmodels {
    display: grid;
    grid-template-columns: 1fr;
}

.carmodels img {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

img, video {
    border: 5px solid black; 
    border-radius: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: grey;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.imgOverlay{
  padding: 1em 0;
  float: left;
  width: 100%;
}

.imgOverlay .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 30px;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: white;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: white;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}

@media screen and (min-width:768px){
    nav {
        text-align: right;
        padding: 30px 0px;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    .container div:first-child {
        grid-column: 1/-1;
        min-height: 500px;
        /* background-image: url('../images/main.jpeg'); */
    }

    #lamb-img {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    #revueltoImg {
        height: 220px;
    }

    #aventadorImg {
        height: 227px;
    }

    #mcl-img {
        grid-row: 3;
        grid-column: 2 / span 2;
    }

    #mcl720Img {
        height: 275px;
    }

    #p1Img {
        height: 275px;
    }

    #por-img {
        grid-row: 4;
        grid-column: 1 / span 2;
    }

    #gt3rsImg {
        height: 270px;
    }

    #caymanImg {
        height: 270px;
    }

    #turboSImg {
        height: 230px;
    }

    .carmodels {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:992px){
    nav {
        text-align: right;
        padding: 30px 0px;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .container div:first-child {
        grid-column: 1/-1;
        min-height: 500px;
        background-image: url('../images/main.jpeg');
    }

    #lamb-img {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    #revueltoImg {
        height: 230px;
    }

    #huracanImg {
        height: 230px;
    }

    #aventadorImg {
        height: 230px;
    }

    #mcl-img {
        grid-row: 3;
        grid-column: 2 / span 2;
    }

    #mcl720Img {
        height: 275px;
    }

    #p1Img {
        height: 270px;
    }

    #mcl765LT {
        height: 240px;
    }

    #sennaImg {
        height: 240px;
    }

    #gtImg {
        height: 235px;
    }

    #por-img {
        grid-row: 4;
        grid-column: 1 / span 2;
        width: 750px;
    }

    #gt3rsImg {
        height: 230px;
    }
    
    #caymanImg {
        height: 230px;
    }

    #turboSImg {
        height: 230px;
    }

    .carmodels {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

