html{
    scroll-behavior: smooth;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
  
body{
    background-color: #737373;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}


.overview{
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    color: white;
    height: 400px;                /* Parallax effect */
}


.overview p{
    color: white;
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
}

h1{
    font-size: 50px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 32px;
    line-height: 1.5;
}

nav li{
    display:inline;
    padding-right:20px;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}


nav{
    background-color: #ddd;
    padding: 25px 0; 
    text-align: left;
}

footer{
    background-color: black;
    color: white;
    padding-top: 30px;
    text-align: center;
}


.text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
}

nav a:hover{
    text-decoration-line: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}

.skip a{
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 20px;
}

*:focus {
    border: 2px solid black;
} 

p {
    line-height: 2.5;
    padding: 0 30px 30px 30px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.container div:first-child {
    grid-column: 1/-1;
    min-height: 500px;
    background-image: url('../images/main.jpeg');
}

#lamb-img {
    grid-row: 2;
}

#mcl-img {
    grid-row: 3;
}

#por-img {
    grid-row: 4;
}

.flip-card {
    background-color: transparent;
    width: 600px;
    height: 1px;
    perspective: 1000px; 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: grey;
    color: white;
    transform: rotateY(180deg);
}

.carmodels {
    display: grid;
    grid-template-columns: 1fr;
}

.carmodels img {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

img, video {
    border: 5px solid black; 
    border-radius: 30px;
}

@media screen and (min-width:768px){
    nav {
        text-align: right;
        padding: 30px 0px;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    .container div:first-child {
        grid-column: 1/-1;
        min-height: 500px;
        background-image: url('../images/main.jpeg');
    }

    #lamb-img {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    #revueltoImg {
        height: 235px;
    }

    #aventadorImg {
        height: 250px;
    }

    #mcl-img {
        grid-row: 3;
        grid-column: 2 / span 2;
    }

    #mcl720Img {
        height: 295px;
    }

    #p1Img {
        height: 295px;
    }

    #por-img {
        grid-row: 4;
        grid-column: 1 / span 2;
    }

    #gt3rsImg {
        height: 270px;
    }

    #caymanImg {
        height: 270px;
    }

    #turboSImg {
        height: 250px;
    }

    .carmodels {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:992px){
    nav {
        text-align: right;
        padding: 30px 0px;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .container div:first-child {
        grid-column: 1/-1;
        min-height: 500px;
        background-image: url('../images/main.jpeg');
    }

    #lamb-img {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    #revueltoImg {
        height: 320px;
    }

    #huracanImg {
        height: 320px;
    }

    #aventadorImg {
        height: 330px;
    }

    #mcl-img {
        grid-row: 3;
        grid-column: 2 / span 2;
    }

    #mcl720Img {
        height: 390px;
    }

    #p1Img {
        height: 390px;
    }

    #mcl765LT {
        height: 330px;
    }

    #por-img {
        grid-row: 4;
        grid-column: 1 / span 2;
        width: 750px;
    }

    #gt3rsImg {
        height: 330px;
    }
    
    #caymanImg {
        height: 330px;
    }

    #turboSImg {
        height: 330px;
    }

    .carmodels {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

